<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.tonalall.impl.mapper.Db3.Db3Mapper">
    <select id="findAll" resultType="xyz.tonalall.impl.entity.Station">
        select *
        from stationsr
    </select>

</mapper>